.ctaBlock{
	&__container{
		grid-gap:3em;
	}
	&__item{
		&--icon{
			max-height:32px;
			height:32px;
			margin:auto;
			svg{
				path{
					fill: $primary-color;
				}
			}
		}
		&--content{
			min-height:100px;
		}
	}
}