.ctaBlock{
	&__container{
		grid-gap:3em;
	}
	&__item{
		&--icon{
			margin:auto;
			svg{
				max-height:32px;
				height:32px;
				path{
					fill: $primary-color;
				}
			}
		}
		&--content{
			min-height:100px;
		}
	}
}

.ctaLinks{
	&__item{
		display: flex;
		flex-direction:column;
		transition: .3s;
		&--icon{
			svg{
				max-height:24px;
				height:24px;
				path{
					fill:$primary-color;
					transition: .3s;
				}
			}
		}
		h6{
			transition: .3s;
		}
		&:hover{
			background-color:$tertiary-color;
			transition: .3s;
			svg{
				path{
					fill:$white;
					transition: .3s;
				}
			}
			h6{
				color:$white;
				transition: .3s;
			}
		}
	}
}