.ctaBlock{
	&__container{
		grid-gap:3em;
	}
	&__item{
		&--icon{
			margin:auto;
			svg{
				max-height:32px;
				height:32px;
				path{
					fill: $primary-color;
				}
			}
		}
		&--content{
			min-height:100px;
		}
	}
}

.ctaLinks{
	&__item{
		display: flex;
		flex-direction:column;
		&--icon{
			svg{
				max-height:32px;
				height:32px;
				path{
					fill:$primary-color;
				}
			}
		}
	}
}