.itb{
	.grid{
		grid-gap:1em;
	}
	&__title{
		grid-column: span 3;
	}
	&__content{
		grid-column: span 1;
	}
	&__bullets{
		grid-column: span 1;
		ul{
			list-style:none;
		}
	}
	&__image{
		grid-column: span 1;
	}
}