.itb{
	.grid{
		grid-gap:1.5em;
	}
	&__title{
		grid-column: span 3;
	}
	&__content{
		grid-column: span 1;
		p{
			margin-top: 0;
		}
	}
	&__bullets{
		grid-column: span 1;
		ul{
			list-style: none;
			li{
				display: grid;
				grid-template-columns: repeat(2, auto);
				grid-gap: 1em;
				align-items: center;
				line-height:1.4;
			}
			svg{
				width:18px;
				max-width:18px;
				path{
					fill: #17c411;
				}
			}
		}
	}
	&__image{
		grid-column: span 1;
	}
}