.textmap{
	grid-gap:2em;
	&__content{
		grid-column:span 2;
		grid-gap:2em;
		background:$site-gradient;
		display:flex;
		flex-direction:column;
		align-items:center;
		&--item{
			display:grid;
			max-width: 300px;
			grid-template-colums: 60px auto;
		}
	}
	&__image{
		grid-column:span 1;
		background-size:cover;
		display:flex;
		align-items:center;
		justify-content:center;
	}
}