.textimage{
	grid-gap:2em;
	&__content{
		grid-column: span 2;
	}
	&__image{
		box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 8px 0;
		@media only screen and (max-width: 1024px) {
			min-height:350px;
			width:100%;
		}
	}
	@media only screen and (max-width: 1024px) {
        display:flex;
        flex-direction: column;
    	align-items: center;
    }
}