h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: $font__heading
}

.heading{
	&__xxl{
		font-size:90px;
	}
	&__xl{
		font-size:65px;
	}
	&__lg{
		font-size:39px;
	}
	&__md{
		font-size:26px;
	}
	&__sm{
		font-size:16px
	}
	&__xs{
		font-size:13px;
	}
	&__light{
		color:$white;
	}
	&__grey{
		color:$dark-grey;
	}
	&__primary{
		color:$primary-color;
	}
	&__secondary{
		color:$secondary-color;
	}
	&__shadow{
		text-shadow: rgb(23, 24, 25) 2px 2px 6px
	}
}