button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.btn{
	border:0;
	background-color:$secondary-color;
	padding:10px;
	display:inline-block;
	transition:.3s;
	color:$white;
	border-radius: 10px;
	text-decoration:none;
	&:hover{
		color:$white;
		transition:.3s;
	}
	&__shadow{
		box-shadow: rgba($black, 0.5) 3px 3px 7px 0px
	}
	&__primary{
		background-color:$secondary-color;
		&:hover{
			background-color:$tertiary-color;
		}
	}
	&__secondary{
		background-color:$tertiary-color;
		&:hover{
			background-color:$secondary-color;
		}
	}
	&__light{
		background-color:$white;
		&:hover{
			background-color:$primary-color;
		}
	}
}