.section{
	&__dark{
		background-color:$black
	}
	&__light{
		background-color:$white
	}
	&__lightgrey{
		background-color:$light-grey
	}
	&__grey{
		background-color:$medium-grey
	}
	&__darkgrey{
		background-color:$very-dark-grey
	}
}