.footer{
	&__contact{
		background: $site-gradient;
	}
	&__icons{
		display:flex;
		justify-content:center;
		grid-gap:5em;
	}
	&__copyright{
		display:flex;
		justify-content:space-between;
		width:1400px;
		max-width:90vw;
		margin:auto;
	}
	&__navigation{
		li{
			display:flex;
			justify-content: flex-start;
			list-style:none;
			grid-gap:10px;
			align-items:center;
			line-height:2;
			&:before{
				width: 5px;
				height: 5px;
				background-color: $dark-grey;
				border-radius:50%;
				content:'';
				display:block;
			}
		}
	}
}