.footer{
	&__contact{
		background: $site-gradient;
	}
	&__icons{
		display:flex;
		justify-content:center;
		grid-gap:5em;
	}
	&__copyright{
		display:flex;
		justify-content:space-between;
		width:1400px;
		max-width:90vw;
		margin:auto;
	}
	&__navigation{
		li{
			display:grid;
			grid-template-columns: repeat(10px, auto);
			list-style:none;

			&:before{
				width: 5px;
				height: 5px;
				background-color: $dark-grey;
				border-radius:50%;
				content:'';
				display:block;
			}
		}
	}
}