.header{
	&__topbar{
		background: $site-gradient;
		&--container{
			display: flex;
			justify-content: space-between;
		}
		&--opening{
			display:flex;
			justicy-content:flex-start;
			align-items:center;
			grid-gap:10px;
		}
		&--phone{
			display:flex;
			justicy-content:flex-end;
			align-items:center;
			grid-gap:10px;
		}
		svg{
			width:16px;
			max-width:16px;
			path{
				fill:$light-grey;
			}
		}
	}
	&__container{
		max-width:90vw;
		margin:auto;
	}
	&__nav{
		padding-top: 5px;
		padding-bottom: 5px;
		&--container{
			display: flex;
			justify-content: space-between;
		}
		&--logo{
			width:100px;
		}
		&--navigation{
			display:flex;
			justify-content:flex-end;
			align-items:center;
			position:relative;
			ul{
				display:flex;
				justify-content:flex-end;
				list-style:none;
				margin:0;
				padding:0;
				li{
					padding:5px 10px;
					font-size:14px;
					a{
						color:$black;
						&:hover{
							text-decoration:underline;
						}
					}
				}
				@media screen and (max-width: 1025px) {
					position:absolute;
					right:1em;
					top:100%;
					background-color:$light-grey;
					flex-direction:column;
					padding:10px;
					border-radius:10px;
					width:250px;
				}
			}
			.menu-toggle{
				background-color:transparent;
				border:2px solid $primary-color;
				margin-right:1em;
				svg{
					width:24px;
					max-width:24px;
					path{
						fill:$primary-color;
					}
				}
			}
		}
	}
}