.header{
	&__topbar{
		background: $site-gradient;
		&--container{
			display: flex;
			justify-content: space-between;
			align-items:center;
		}
		svg{
			width:16px;
			max-width:16px;
			path{
				fill:$light-grey;
			}
		}
	}
	&__container{
		max-width:90vw;
		margin:auto;
	}
}