.header{
	&__topbar{
		background: $site-gradient;
		&--container{
			display: flex;
			justify-content: space-between;
		}
		&--opening{
			display:flex;
			justicy-content:flex-start;
			align-items:center;
			grid-gap:10px;
		}
		&--phone{
			display:flex;
			justicy-content:flex-end;
			align-items:center;
			grid-gap:10px;
		}
		svg{
			width:16px;
			max-width:16px;
			path{
				fill:$light-grey;
			}
		}
	}
	&__container{
		max-width:90vw;
		margin:auto;
	}
	&__nav{
		&--container{
			display: flex;
			justify-content: space-between;
		}
		&--logo{
			width:100px;
		}
		&--navigation{
			ul{
				display:flex;
				justify-content:flex-end;
				list-style:none;
				li{
					padding:5px 10px;
				}
			}
		}
	}
}