@import "../../abstracts/abstracts";

.keypoints{
	background: $site-gradient;
	&__container{
		display:grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap:10px;
	}
	&__item{
		color: $white;
	}
}