.hero{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
	flex-direction:column;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	&__title{
		width:1100px;
		max-width:90vw;
		line-height:1;
	}
	&__subtitle{
		width:1100px;
		max-width:90vw;
	}
	&__cta{
		display:flex;
		grid-gap:1em;
	}
}